<svg
  class="icon-plus {{ class }}"
  aria-hidden="true"
  role="presentation"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="32"
  height="32"
  viewBox="0 0 32 32">
  <title>icon-plus</title>
  <path
    fill="currentColor"
    fill-rule="evenodd"
    class="icon-plus-vertical"
    d="M19.037 3.544h-6.076v24.911h6.076v-24.911z"></path>
  <path
    fill="currentColor"
    fill-rule="evenodd"
    class="icon-plus-horizontal"
    d="M3.999 13.266v5.468h24v-5.468h-24z"></path>
</svg>
