<div data-section-id="{{ section.id }}" class="block-gray">
  <div class="container">
    <div class="space-lg"></div>
    <div class="space-lg visible-xs"></div>
    <div class="row text-center">
      <div class="col-xs-6 col-sm-3 col-lg-2 col-lg-offset-2">
        <img class="feature-icon" src="https://cdn.crazybaby.com/assets/images/luna/feature-telescopic.svg?v=20170614" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Telescopic<br>Mechanics</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.crazybaby.com/assets/images/luna/feature-tweeter.svg?v=20170614" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Independent<br>Tweeter</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.crazybaby.com/assets/images/luna/feature-rgb.svg?v=20170614" alt="">
        <div class="space-xxs"></div>
        <p class="h6">RGB Color<br>Wheel</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.crazybaby.com/assets/images/luna/feature-multiroom.svg?v=20170614" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Multi-Room<br>Play</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2 col-lg-offset-2">
        <img class="feature-icon" src="https://cdn.crazybaby.com/assets/images/luna/feature-meshnet.svg?v=20170614" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Meshnet Group<br>Play</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.crazybaby.com/assets/images/luna/feature-stereo.svg?v=20170614" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Stereo <br>Pairing</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.crazybaby.com/assets/images/luna/feature-loseless.svg?v=20170614" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Lossless Audio<br>Transmission</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.crazybaby.com/assets/images/luna/feature-cloud.svg?v=20170614" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Easy Music<br>Streaming</p>
        <div class="space-sm"></div>
      </div>
    </div>
    <div class="space-xs"></div>
    <div class="space-md visible-xs"></div>
  </div>
</div>

{% schema %}
{
  "presets": [
    {
      "category": "Customize",
      "name": "Feature Group Icons"
    }
  ]
}
{% endschema %}
