<div class="container slick-stretch-fix">
  <div class="row block-stretch text-center store-features-row small slick-default-dots">
    <div class="support-item">
      <img src="https://cdn.crazybaby.com/assets/images/icons/store-feature-delivery.svg?v=20170614" class="center-block" alt="">
      <div class="space-xs"></div>
      <h4>30-day Returns</h4>
      Not satisfied? We offer 30-day, no questions asked returns.<div class="space-sm"></div>
    </div>
    <div class="support-item">
      <img src="https://cdn.crazybaby.com/assets/images/icons/store-feature-warranty.svg?v=20170614" class="center-block" alt="">
      <div class="space-xs"></div>
      <h4>1 Year Warranty</h4>
      Offering global service for any PopuBand product.<div class="space-sm"></div>
    </div>
    <div class="support-item">
      <img src="https://cdn.crazybaby.com/assets/images/icons/store-feature-support.svg?v=20170614" class="center-block" alt="">
      <div class="space-xs"></div>
      <h4>Support</h4>
      In-app tutorials, live customer service, and forum help for 24/7 support.<div class="space-sm"></div>
    </div>
    <div class="support-item">
      <img src="https://cdn.crazybaby.com/assets/images/icons/store-feature-payment.svg?v=20170614" class="center-block" alt="">
      <div class="space-xs"></div>
      <h4>Payment Options</h4>
      Supporting all major global payment options.<div class="space-sm"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "presets": [
    {
      "category": "Customize",
      "name": "Support Icons"
    }
  ]
}
{% endschema %}
