<div class="container slick-stretch-fix">
  <div class="row block-stretch text-center store-features-row small slick-default-dots">
    <div class="support-item">
      <img src="https://cdn.crazybaby.com/assets/images/icons/store-feature-delivery.svg?v=20170614" class="center-block" alt="">
      <div class="space-xs"></div>
      <h4>Worldwide Delivery</h4>
      Expect your crazybaby product to arrive fast and safe. Our global air freight logistics will make sure your product is delivered with care and efficiency.          <div class="space-sm"></div>
    </div>
    <div class="support-item">
      <img src="https://cdn.crazybaby.com/assets/images/icons/store-feature-warranty.svg?v=20170614" class="center-block" alt="">
      <div class="space-xs"></div>
      <h4>1 Year Global Warranty</h4>
      Count on reliability with the 1 Year Warranty from crazybaby. We offer global after-sales service for help with any crazybaby product.          <div class="space-sm"></div>
    </div>
    <div class="support-item">
      <img src="https://cdn.crazybaby.com/assets/images/icons/store-feature-support.svg?v=20170614" class="center-block" alt="">
      <div class="space-xs"></div>
      <h4>Support</h4>
      Learn how to set up your device and view tutorials on our site. If needed, feel free to reach out to us. The crazybaby customer care team is here to help you.          <div class="space-sm"></div>
    </div>
    <div class="support-item">
      <img src="https://cdn.crazybaby.com/assets/images/icons/store-feature-payment.svg?v=20170614" class="center-block" alt="">
      <div class="space-xs"></div>
      <h4>Payment Options</h4>
      Purchase your products quickly and securely. We accept PayPal, Visa and Mastercard globally.          <div class="space-sm"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "presets": [
    {
      "category": "Customize",
      "name": "Support Icons"
    }
  ]
}
{% endschema %}
