<div data-section-id="{{ section.id }}" class="block-gray">
  <div class="container">
    <div class="space-lg"></div>
    <div class="space-lg visible-xs"></div>
    <div class="row text-center">
      <div class="col-xs-6 col-sm-3 col-lg-2 col-lg-offset-2">
        <img class="feature-icon" src="https://cdn.shopify.com/s/files/1/2021/3861/files/icons8-Bluetooth-100.png?12538457032907798725" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Telescopic<br>Mechanics</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.shopify.com/s/files/1/2021/3861/files/icons8-Guitar-100.png?12538457032907798725" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Independent<br>Tweeter</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.shopify.com/s/files/1/2021/3861/files/icons8-LED_Diode-100.png?12538457032907798725" alt="">
        <div class="space-xxs"></div>
        <p class="h6">RGB Color<br>Wheel</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.shopify.com/s/files/1/2021/3861/files/icons8-Music_Record-100.png?12538457032907798725" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Multi-Room<br>Play</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2 col-lg-offset-2">
        <img class="feature-icon" src="https://cdn.shopify.com/s/files/1/2021/3861/files/icons8-Share_2-100.png?12538457032907798725" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Meshnet Group<br>Play</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.shopify.com/s/files/1/2021/3861/files/icons8-Record-100.png?12538457032907798725" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Stereo <br>Pairing</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.shopify.com/s/files/1/2021/3861/files/icons8-Visual_Game_Boy-100.png?12538457032907798725" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Lossless Audio<br>Transmission</p>
        <div class="space-sm"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2">
        <img class="feature-icon" src="https://cdn.shopify.com/s/files/1/2021/3861/files/icons8-Smartphone_Tablet-100.png?12538457032907798725" alt="">
        <div class="space-xxs"></div>
        <p class="h6">Easy Music<br>Streaming</p>
        <div class="space-sm"></div>
      </div>
    </div>
    <div class="space-xs"></div>
    <div class="space-md visible-xs"></div>
  </div>
</div>

{% schema %}
{
  "presets": [
    {
      "category": "Customize",
      "name": "Feature Group Icons"
    }
  ]
}
{% endschema %}
