<!-- <h1 class="page-title">{{ page.title }}</h1> -->

<div class="rte">
  {{ page.content }}
</div>

{% comment %}{% section 'video-image-with-text' %}{% endcomment %}
{% section 'video-video-with-text' %}
{% section 'video-alternating-content' %}
{% section 'app-download-badges' %}
