<!-- <h1 class="page-title">{{ page.title }}</h1> -->

<div class="rte">
  {{ page.content }}
</div>

{% section 'home-promotion' %}
{% section 'customize-feature-group-icons' %}
{% section 'customize-lights-twinkle' %}
{% section 'app-alternating-content' %}
{% section 'app-record-and-share' %}
{% section 'app-download-badges' %}
